<div class="extra-pagination">
	{{pagination}}
</div>

{{#foreach posts}}

	<a href="{{url}}">
		<article class="article-preview">
			<h2 class="article-preview--title">{{title}}</h2>
			<div class="article-preview--topic">{{primary_tag.name}}</div>
			<div class="article-preview--date">{{date}}</div>
		</article>
	</a>

{{/foreach}}

{{pagination}}
