{{!< default}}
<header id="blog-header">
    <h1>Hi, I'm Matt.</h1>
    {{#if primary_author.profile_image}}<img src="{{primary_author.profile_image}}" alt="Author image" />{{/if}}
    <p>I try to explain the things I like.</p>
</header>

<main role="main">
    <section class="topics">
        <div class="topics__list">
            <h2>The problem is, I like a lot of things.</h2>
            {{#get 'tags'}}
                {{#foreach tags}}
                    {{#if @last}}
                        <span class="topic"><a href='{{url}}'>{{name}}</a>.</span>
                    {{else}}
                        <span class="topic"><a href='{{url}}'>{{name}}</a>, </span>
                    {{/if}}
                {{/foreach}}
            {{/get}}
        </div>
    </section>
    <section class="articles">
        {{#foreach posts}}
            <article class="articles__article">
                <a href="{{url}}">
                    <div class="articles__article--info">
                        <span class="articles__article--date">{{date}}</span>
                        <span class="articles__article--topic">{{primary_tag.name}}</span>
                    </div>
                    <div class="articles__article--body">
                        <h2 class="articles__article--title">{{title}}</h2>
                    </div>
                </a>
            </article>
        {{/foreach}}
    </section>
</main>