{{!< default}}

<div class="general-header">
	<h1>Articles</h1>
	<p>Here is everything I've written, divided up by category.</p>
</div>

<main class="fixed-width-main-content" role="main">
	
	{{#get "tags" filter="name:-Courses" limit="all"}}
	{{#foreach tags}}
	<section class="header-section">
		<h2>{{name}}</h2>
		<div class="lopsided-grid">
			<div class="tag-description">
				<p>{{description}}</p>
				<p><a href="{{url}}">All {{name}} Articles <span class="caret">▶</span></a></p>
			</div>

			{{#get "posts" filter="tag:{{slug}}" limit="2"}}
			{{#foreach posts}}
			<article class="article-preview">
				<a href="{{url}}">
					<img src="{{feature_image}}" alt="">
					<p>{{title}}</p>
				</a>
			</article>
			{{/foreach}}
			{{/get}}

		</div>
	</section>
	{{/foreach}}
	{{/get}}

</main>