{{!< default}}

{{#post}}

<header id="blog-header">
	<nav class="context"><a href="/">Return Home</a></nav>
	<h1 class="post-title">{{{title}}}</h1>
	<span class="post-meta">{{authors separator=", "}} | <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time> | {{reading_time minute=(t "1 min read") minutes=(t "% min read")}}</span>
</header>

<main class="content" role="main">
	<article class="{{post_class}}">
		<div class="inner">
			<section class="post-content">
				{{content}}
			</section>
		</div>
	</article>
</main>

{{/post}}
